.jumbotron{
	background-image: url(../img/header.jpg);
	background-size: auto 100%;
	margin-bottom: 0px;
}


.intro{
/*	background-color: #b5b7b852;
	background-clip: padding-box;*/
	padding: 2em;
	text-align: center;
	vertical-align: middle;
}

.heading-name{
	color: white; 
	text-align: center; 
	font-weight: bolder; 
	font-size: 400%
}

.project-img{
	max-height: 175px;

}

.csl-entry{
	margin-top: 1em;
}

.fa-circle{
	margin-right:1em;
	font-size: 0.5em;
	color: black;
}