<div class="csl-bib-body">
  <div data-csl-entry-id="masood2019vbuilt" class="csl-entry"><i class="fas fa-circle"></i>Masood, M., Pushkar, A., Seppänen, O, Singh, V., &#38; Aikala, A. (2019). VBUILT: Volume-based Automatic Building Extraction for As-Built Point Clouds. In <i>ISARC. Proceedings of the International Symposium on Automation and Robotics in Construction</i> (Vol. 36, pp. 1202–1209).</div>
  <div data-csl-entry-id="pushkar2018automated" class="csl-entry"><i class="fas fa-circle"></i>Pushkar, A., Senthilvel, M., &#38; Varghese, K. (2018). Automated progress monitoring of masonry activity using photogrammetric point cloud. In <i>ISARC. Proceedings of the International Symposium on Automation and Robotics in Construction</i> (Vol. 35, pp. 1–7).</div>
  <div data-csl-entry-id="wei2019supporting" class="csl-entry"><i class="fas fa-circle"></i>Wei, Y., Pushkar, A., &#38; Akincia, B. (2019). Supporting Deconstruction Waste Management through 3D Imaging: A Case Study. In <i>ISARC. Proceedings of the International Symposium on Automation and Robotics in Construction</i> (Vol. 36, pp. 438–445).</div>
</div>