<div class="row mt-3">
	<div class="col-12">

		<footer class="page-footer font-small blue" style="background-color: #cacadc;">

			<!-- Copyright -->
			<div class="footer-copyright text-center py-3">© 2018 Copyright:
			<a href="#"> Akash Pushkar</a>
			</div>

		</footer>
	</div>
</div>