{% extends "layout.njk" %}

{% block content %}
	<div class="container-fluid">

		{% include "header.njk" %}		

		<div class="row mt-3 justify-content-center align-items-center">
			<!-- <div class="col-2"></div> -->
			<div class="col-lg-3">
				<img src="../img/profile.jpg" class="img-fluid">
			</div>


			<div class="col-lg-7 intro">
				
				<div id="typewriter"> 
					<b class="typewriter-text m-2" style="color: black;">I am Akash, </b>
					<div id="text" class="typewriter-text"></div><div id="cursor"></div>
				</div>				
			</div>

		</div>
		

		<div class="row mt-3">
			<div class="col">
				<p>
					I currently work at the <a href="https://www.ri.cmu.edu/">Robotics Institute</a>, School of Computer Science, <a href="https://www.cmu.edu/">Carnegie Mellon University</a>. I graduated with MS in Advanced Infrastructure Systems from Department of Civil Engineering, CMU. Earlier, I completed a dual degree (B.Tech + M.Tech) in Civil Engineering from <a href="https://www.iitm.ac.in/">Indian Institute of Technology, Madras, India</a>. I am interested in applied research at the intersection of civil engineering, computer vision and machine learning. I have specific interests in construction automation, mobility and 3D machine vision. I work to integrate vision and BIM techniques into a system to automate the civil engineering processes.
				</p>
			</div>
		</div>


		{% include "footer.njk" %}


	</div>


	<!-- typrewriter js -->
	 <script type="text/javascript" src="../js/typewriter.js"></script>

{% endblock %}