{% extends "layout.njk" %}

{% block content %}
	
	<div class="container-fluid">

		{% include "header.njk" %}

		<div class="container mt-5">
			<h4>Conference Publication</h4>
			<hr>

			{% include "conferences.njk" %}
		</div>



		{% include "footer.njk" %}
		
	</div>



{% endblock %}