{% extends "layout.njk" %}

{% block content %}
	
	

		{% include "header.njk" %}

		<div class="container mt-5">
			<h4>Conference Publication</h4>
			<hr>

			{% include "conferences.njk" %}
		</div>



		{% include "footer.njk" %}
		




{% endblock %}